<div class="row admin-links-container mx-auto my-5">

    <div class="col-md-4 p-4">
        <a class="link  m-auto" asp-action="ManageAppointments">
            <div class="link-icon mx-auto my-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15 5.625H11.25C9.26088 5.625 7.35322 6.41518 5.9467 7.8217C4.54018 9.22822 3.75 11.1359 3.75 13.125V52.5C3.75 54.4891 4.54018 56.3968 5.9467 57.8033C7.35322 59.2098 9.26088 60 11.25 60H48.75C50.7391 60 52.6468 59.2098 54.0533 57.8033C55.4598 56.3968 56.25 54.4891 56.25 52.5V13.125C56.25 11.1359 55.4598 9.22822 54.0533 7.8217C52.6468 6.41518 50.7391 5.625 48.75 5.625H45V9.375H48.75C49.7446 9.375 50.6984 9.77009 51.4016 10.4733C52.1049 11.1766 52.5 12.1304 52.5 13.125V52.5C52.5 53.4946 52.1049 54.4484 51.4016 55.1516C50.6984 55.8549 49.7446 56.25 48.75 56.25H11.25C10.2554 56.25 9.30161 55.8549 8.59835 55.1516C7.89509 54.4484 7.5 53.4946 7.5 52.5V13.125C7.5 12.1304 7.89509 11.1766 8.59835 10.4733C9.30161 9.77009 10.2554 9.375 11.25 9.375H15V5.625Z" fill="black" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.625 3.75H24.375C23.8777 3.75 23.4008 3.94754 23.0492 4.29917C22.6975 4.65081 22.5 5.12772 22.5 5.625V9.375C22.5 9.87228 22.6975 10.3492 23.0492 10.7008C23.4008 11.0525 23.8777 11.25 24.375 11.25H35.625C36.1223 11.25 36.5992 11.0525 36.9508 10.7008C37.3025 10.3492 37.5 9.87228 37.5 9.375V5.625C37.5 5.12772 37.3025 4.65081 36.9508 4.29917C36.5992 3.94754 36.1223 3.75 35.625 3.75ZM24.375 0C22.8832 0 21.4524 0.592632 20.3975 1.64752C19.3426 2.70242 18.75 4.13316 18.75 5.625V9.375C18.75 10.8668 19.3426 12.2976 20.3975 13.3525C21.4524 14.4074 22.8832 15 24.375 15H35.625C37.1168 15 38.5476 14.4074 39.6025 13.3525C40.6574 12.2976 41.25 10.8668 41.25 9.375V5.625C41.25 4.13316 40.6574 2.70242 39.6025 1.64752C38.5476 0.592632 37.1168 0 35.625 0L24.375 0ZM40.7025 26.7975C40.8771 26.9717 41.0156 27.1786 41.1102 27.4064C41.2047 27.6342 41.2534 27.8784 41.2534 28.125C41.2534 28.3716 41.2047 28.6158 41.1102 28.8436C41.0156 29.0714 40.8771 29.2783 40.7025 29.4525L29.4525 40.7025C29.2783 40.8771 29.0714 41.0156 28.8436 41.1102C28.6158 41.2047 28.3716 41.2534 28.125 41.2534C27.8784 41.2534 27.6342 41.2047 27.4064 41.1102C27.1786 41.0156 26.9717 40.8771 26.7975 40.7025L21.1725 35.0775C20.9982 34.9032 20.8599 34.6962 20.7655 34.4684C20.6712 34.2407 20.6226 33.9965 20.6226 33.75C20.6226 33.5035 20.6712 33.2593 20.7655 33.0316C20.8599 32.8038 20.9982 32.5968 21.1725 32.4225C21.5246 32.0704 22.0021 31.8726 22.5 31.8726C22.7465 31.8726 22.9907 31.9212 23.2184 32.0155C23.4462 32.1099 23.6532 32.2482 23.8275 32.4225L28.125 36.7238L38.0475 26.7975C38.2217 26.6229 38.4286 26.4844 38.6564 26.3898C38.8842 26.2953 39.1284 26.2467 39.375 26.2467C39.6216 26.2467 39.8658 26.2953 40.0936 26.3898C40.3214 26.4844 40.5283 26.6229 40.7025 26.7975Z" fill="black" />
                </svg>
            </div>
            <div class="link-text">@sharedResource["ManageVisitsTraining"]</div>
        </a>
    </div>
    <div class="col-md-4 p-4">
        <a class="link  m-auto" asp-area="" asp-controller="WorkingHours" asp-action="CalendarEmployee">
            <div class="link-icon mx-auto my-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <g clip-path="url(#clip0_154_2970)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.125 0C13.6223 0 14.0992 0.197544 14.4508 0.549175C14.8025 0.900806 15 1.37772 15 1.875V3.75H45V1.875C45 1.37772 45.1975 0.900806 45.5492 0.549175C45.9008 0.197544 46.3777 0 46.875 0C47.3723 0 47.8492 0.197544 48.2008 0.549175C48.5525 0.900806 48.75 1.37772 48.75 1.875V3.75H52.5C54.4891 3.75 56.3968 4.54018 57.8033 5.9467C59.2098 7.35322 60 9.26088 60 11.25V52.5C60 54.4891 59.2098 56.3968 57.8033 57.8033C56.3968 59.2098 54.4891 60 52.5 60H7.5C5.51088 60 3.60322 59.2098 2.1967 57.8033C0.790176 56.3968 0 54.4891 0 52.5V11.25C0 9.26088 0.790176 7.35322 2.1967 5.9467C3.60322 4.54018 5.51088 3.75 7.5 3.75H11.25V1.875C11.25 1.37772 11.4475 0.900806 11.7992 0.549175C12.1508 0.197544 12.6277 0 13.125 0V0ZM3.75 15V52.5C3.75 53.4946 4.14509 54.4484 4.84835 55.1516C5.55161 55.8549 6.50544 56.25 7.5 56.25H52.5C53.4946 56.25 54.4484 55.8549 55.1516 55.1516C55.8549 54.4484 56.25 53.4946 56.25 52.5V15H3.75Z" fill="black" />
                        <path d="M17.565 43.2112V34.5862H26.0438V32.2987H17.565V25.5037H26.805V23.2162H15V43.2112H17.565ZM29.925 43.2112H32.46V33.6749C32.46 31.5974 33.3113 29.8987 36.0338 29.8987C36.5025 29.8987 37.0013 29.9137 37.2675 29.9549V27.6562C36.9522 27.6088 36.6339 27.5837 36.315 27.5812C34.1325 27.5812 32.9738 28.7812 32.52 29.7074H32.445V27.8174H29.925V43.2112ZM40.4438 24.1124C40.4438 25.0049 41.1638 25.7062 42.0563 25.7062C42.2733 25.7167 42.4902 25.683 42.6939 25.6072C42.8975 25.5313 43.0836 25.4149 43.241 25.2651C43.3983 25.1152 43.5235 24.9349 43.6091 24.7351C43.6947 24.5354 43.7388 24.3203 43.7388 24.103C43.7388 23.8857 43.6947 23.6707 43.6091 23.471C43.5235 23.2712 43.3983 23.0909 43.241 22.941C43.0836 22.7911 42.8975 22.6748 42.6939 22.5989C42.4902 22.5231 42.2733 22.4894 42.0563 22.4999C41.8439 22.4979 41.6334 22.5383 41.4368 22.6186C41.2403 22.6989 41.0617 22.8176 40.9116 22.9677C40.7614 23.1179 40.6427 23.2964 40.5624 23.493C40.4821 23.6895 40.4417 23.9001 40.4438 24.1124ZM40.7963 43.2112H43.3162V27.8174H40.7963V43.2112Z" fill="black" />
                    </g>
                    <defs>
                        <clipPath id="clip0_154_2970">
                            <rect width="60" height="60" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="link-text">@sharedResource["CalendarAppointments"]</div>
        </a>
    </div>
    <div class="col-md-4 p-4">
        <a class="link  m-auto" asp-action="Stats">
            <div class="link-icon mx-auto my-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 46.875C0 48.3668 0.592632 49.7976 1.64752 50.8525C2.70242 51.9074 4.13316 52.5 5.625 52.5H54.375C55.8668 52.5 57.2976 51.9074 58.3525 50.8525C59.4074 49.7976 60 48.3668 60 46.875V25.6875L30.4837 33.5512C30.1668 33.6359 29.8332 33.6359 29.5162 33.5512L0 25.6875V46.875Z" fill="black" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16.875C0 15.3832 0.592632 13.9524 1.64752 12.8975C2.70242 11.8426 4.13316 11.25 5.625 11.25H54.375C55.8668 11.25 57.2976 11.8426 58.3525 12.8975C59.4074 13.9524 60 15.3832 60 16.875V22.065L31.4475 29.6775C30.499 29.9301 29.501 29.9301 28.5525 29.6775L0 22.065V16.875ZM18.75 9.375C18.75 7.88316 19.3426 6.45242 20.3975 5.39752C21.4524 4.34263 22.8832 3.75 24.375 3.75H35.625C37.1168 3.75 38.5476 4.34263 39.6025 5.39752C40.6574 6.45242 41.25 7.88316 41.25 9.375V11.25H37.5V9.375C37.5 8.87772 37.3025 8.40081 36.9508 8.04918C36.5992 7.69754 36.1223 7.5 35.625 7.5H24.375C23.8777 7.5 23.4008 7.69754 23.0492 8.04918C22.6975 8.40081 22.5 8.87772 22.5 9.375V11.25H18.75V9.375Z" fill="black" />
                </svg>
            </div>
            <div class="link-text">@sharedResource["Stats"]</div>
                
        </a>
    </div>
</div>