@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = @sharedResource["ForgotPasswordConfirmation"];
}
<div class="auth-card mx-auto" style="display:flex; text-align:center;">
    <div class="auth-full-header" >
        <h2 class="auth-header">@sharedResource["CheckYourEmailToReset"]</h2>
        <span class="auth-caption">
            @sharedResource["ComeBackToUs"]
        </span>
    </div>
</div>
