html {
  font-size: 14px;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #ebc7c7;
}

::selection {
  color: white;
  background: #ebc7c7;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  font-family: "Inter", sans-serif;
  position: relative;
  min-height: 100%;
}

a {
  text-align: center;
  border-radius: 3px;
}

.header {
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
  background-color: #f2f2f2;
  padding: 10px;
  flex-direction: column;
}

.submenu {
  display: none;
  position: fixed;
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
  padding: 12.5px 0;
}

.submenu ul {
  list-style: none;
  padding-left: 25px;
}

.nav-item:hover .submenu {
  display: block;
}

.nav-item:hover .submenu ul {
  display: flex;
}

.profileImg {
  border-radius: 50px;
  height: 50px;
  /*width:50px;*/
}

.mini-color-box {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: 12.37px;
}

.color-box {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 280px;
  height: 200px;
  border-radius: 20px;
  margin-left: 12.37px;
}

.avatar-list {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: 12.37px;
}

#editor {
  height: 600px;
  width: auto;
}

.editor-container {
  width: 600px;
}

.transparent-header {
  min-height: 328px;
  background-size: cover;
  background-position: left;
}
.transparent-header.Admin {
  min-height: 78px;
}
.transparent-header.Home {
  min-height: 705px;
}
.transparent-header.AboutUs {
  min-height: 600px;
}
.transparent-header .links-container {
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  position: fixed;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.6) 7.81%, rgba(0, 0, 0, 0) 100%);
  z-index: 6969;
}
.transparent-header .links-container .navbar .nav-link {
  color: var(--Primary, #EBC7C7);
  font-size: 24px;
  font-weight: 900;
  padding: 6px 16px;
}
.transparent-header .links-container .navbar .nav-link.active {
  border-bottom: 2px solid #FFE8E8;
}
.transparent-header .links-container .dropdown-menu {
  left: -155px;
  background: #FFE8E8;
  padding: 15px 10px;
  border-radius: 8px;
}
.transparent-header .links-container .dropdown-menu .dropdown-item {
  border-bottom: 1px solid rgba(158, 119, 119, 0.2);
  cursor: pointer;
}
.transparent-header .text-and-buttons-container {
  padding: 90px 75px;
}
.transparent-header .text-and-buttons-container .text-container {
  width: 741px;
  font-family: "Montagu Slab", serif;
}
.transparent-header .text-and-buttons-container .text-container .text {
  color: #FFF;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px; /* 100% */
}
.transparent-header .text-and-buttons-container .text-container .text .highlight {
  color: #EBC7C7;
}
.transparent-header .text-and-buttons-container .buttons {
  display: flex;
  gap: 32px;
}
.transparent-header .text-and-buttons-container .buttons .button {
  display: flex;
  padding: 23px 41px 24px 41px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #141414;
  font-weight: 800;
  text-decoration: none;
  border: 2px solid var(--Primary-B, #FFE8E8);
  background: #EBC7C7;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-container .navigation-header {
  color: #9E7777;
  font-family: Playfair Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.navigation-container .navigation-links {
  display: flex;
  padding: 27px 39px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #A47878;
}
.navigation-container .navigation-links .navigation-link {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}
.navigation-container .navigation-links .navigation-link.active {
  color: #9E7777;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  border-bottom: 1px solid #A47878;
}

.banner-text-container {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
}
.banner-text-container .top-text-container {
  color: #FFF;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%; /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.banner-text-container .bottom-text-container {
  color: #FFF;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 66px */
  letter-spacing: -0.55px;
}

.text-aboutus-container {
  display: flex;
  width: 1370px;
  height: 181px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;
}
.text-aboutus-container .text-aboutus {
  color: #FFF;
  font-family: Montagu Slab;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 100% */
  text-decoration: none;
  text-align: left;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 681px;
}
.profile-container .profile-question .question {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.profile-container .avatar-profile {
  position: relative;
  width: 196.934px;
  height: 176px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.profile-container .avatar-profile .avatar-box .circle {
  background-position: center;
  border-radius: 180px;
  border: 2px solid #9E7777;
  background-size: cover;
  width: 180px;
  height: 180px;
}
.profile-container .avatar-profile .avatar-box .avatar-image {
  border-radius: 200px;
  border: 4px solid #F4EBFF;
}
.profile-container .avatar-profile .icon {
  position: absolute;
  right: 0;
}
.profile-container .avatar-profile .icon .uploaded-icon-svg * {
  fill: #C7EBD1;
}
.profile-container .personal-data-box {
  width: 337px;
  height: 70px;
  flex-shrink: 0;
  flex-direction: column-reverse;
  display: flex;
  padding: 10px 14px;
}
.profile-container .personal-data-box .input-box-container {
  position: relative;
}
.profile-container .personal-data-box .input-box-container .input-box-icon {
  display: flex;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.profile-container .personal-data-box .input-box-container .input-box-username {
  padding: 10px 14px 10px 42px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #F9FAFB;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  width: 100%;
}
.profile-container .personal-data-box .input-box {
  padding: 10px 14px 10px 42px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  width: 100%;
}
.profile-container .personal-data-box .input-label {
  color: #344054;
  /* Text sm/Medium */
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.profile-container .personal-data-box .select-container {
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  color: #667085;
  /* Text md/Regular */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.profile-container .personal-data-box .color-box .color-picker-form ::-moz-color-swatch {
  border-color: transparent;
}
.profile-container .personal-data-box .color-box .color-picker-form .color-picker {
  opacity: 0;
  width: 197px;
  height: 20px;
  flex-shrink: 0;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border: unset;
}
.profile-container .roles-label {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.profile-container .button {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
}

.email-box {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
}
.email-box .label {
  color: #344054;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.email-box .old-email {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--gray-50, #F9FAFB);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.email-box .new-email {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Secondary, #679E76);
  background: var(--White, #FFF);
  box-shadow: 0px 0px 0px 4px #C7EBD1, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.email-box .button {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
}

.footer-container {
  background: #FFE8E8;
  padding: 0 128px;
  margin-top: 64px;
}
.footer-container .footer-banner {
  background: #9E7777;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  margin-top: -22px;
  margin-bottom: 80px;
  padding: 22px 44px;
}
.footer-container .footer-banner .title {
  color: #FFE8E8;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-container .footer-banner .appointment-btn-container {
  /* Z tego mozna zrobic globalny button, trzeba przeniesc wtedy to wyzej */
}
.footer-container .footer-banner .appointment-btn-container .green-btn {
  display: flex;
  padding: 12px 22px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid #C7EBD1;
  background: #679E76;
  color: #FFF;
  text-decoration: none;
}
.footer-container .category-header {
  color: #9E7777;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-container .category-links {
  color: #000;
  list-style-type: none;
  padding-left: 0;
}
.footer-container .category-links .links {
  color: #000;
  text-decoration: none;
}
.footer-container .footer-info {
  color: #9E7777;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  text-align: center;
  padding: 38px;
}

.treatment-table .treatment-item-arrow {
  transition: all 0.25s;
}
.treatment-table [aria-expanded=true] .treatment-item-arrow {
  transform: rotateX(180deg);
}
.treatment-table .accordion-header {
  font-size: 1rem;
  font-weight: 400;
}
.treatment-table .accordion-header .treatment-item-header {
  padding: 6px;
}
.treatment-table .accordion-header .treatment-item-header .stars-container svg.active {
  fill: #f5de4a;
}
.treatment-table .accordion-header .treatment-item-header .filled-stars-container svg.active {
  fill: #f5de4a;
}
.treatment-table .accordion-item {
  background: #FFE8E8;
  border-color: #EBC7C7;
}
.treatment-table .accordion-item .button {
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
}
.treatment-table .accordion-item .button:hover {
  background: #C7EBD1;
}
.treatment-table .accordion-item .buttonCancel {
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
  background: #EBDCC7;
}
.treatment-table .accordion-item .buttonCancel:hover {
  background: #C7EBD1;
}
.treatment-table .accordion-item .buttonCancel:hover {
  background: #EBDCC7;
}
.treatment-table .accordion-item .buttonUndo {
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
  background: #D7C7EB;
}
.treatment-table .accordion-item .buttonUndo:hover {
  background: #C7EBD1;
}
.treatment-table .accordion-item .buttonUndo:hover {
  background: #D7C7EB;
}
.treatment-table .accordion-item .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.treatment-table .accordion-item .buttons .buttonEdit {
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
  background: #ebdcc7;
  height: fit-content;
}
.treatment-table .accordion-item .buttons .buttonEdit:hover {
  background: #C7EBD1;
}
.treatment-table .accordion-item .buttons .buttonEdit:hover {
  background: #ebdcc7;
}
.treatment-table .accordion-item .buttons .buttonList {
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
  background: #C7DDEB;
  height: fit-content;
}
.treatment-table .accordion-item .buttons .buttonList:hover {
  background: #C7EBD1;
}
.treatment-table .accordion-item .buttons .buttonList:hover {
  background: #C7DDEB;
}
.treatment-table .accordion-item .buttons .buttonDelete {
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
  background: #d7c7eb;
  height: fit-content;
}
.treatment-table .accordion-item .buttons .buttonDelete:hover {
  background: #C7EBD1;
}
.treatment-table .accordion-item .buttons .buttonDelete:hover {
  background: #d7c7eb;
}
.treatment-table .modal .modal-body .form-group {
  display: flex;
  margin-bottom: 0.69em;
  justify-content: center;
}
.treatment-table .modal .modal-body .form-group .control-label {
  min-width: 160px;
}
.treatment-table .modal .modal-body input[type=submit] {
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
  width: 30%;
}
.treatment-table .modal .modal-body input[type=submit]:hover {
  background: #C7EBD1;
}

.posts-container .post-card {
  background: var(--Primary-B, #FFE8E8);
  height: 510px;
}
.posts-container .post-card .card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 340px;
  max-height: 340px;
  transition: ease-in-out transform 0.3s;
}
.posts-container .post-card:hover .card-image {
  transform: scale(1.05);
}
.posts-container .post-card .card-content {
  padding: 30px;
}
.posts-container .post-card .card-content .content-date {
  color: var(--Secondary, #679E76);
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
}
.posts-container .post-card .card-content .content-title {
  color: #141414;
  font-family: Playfair Display;
  font-size: 22px;
  font-weight: 700;
  line-height: 140%; /* 30.8px */
  letter-spacing: 0.44px;
}
.posts-container .post-card .card-content .content-text {
  color: #555;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 27.9px */
  letter-spacing: 0.36px;
}

.single-post .post-content-text {
  color: #555;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  line-height: 155%; /* 37.2px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.single-post .post-image {
  margin: 0 auto;
  max-width: 700px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.admin-links-container {
  max-width: 900px;
}
.admin-links-container .link {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 256px;
  height: 256px;
  background: #FFE8E8;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
  text-decoration: none;
}
.admin-links-container .link-icon {
  width: 60px;
  height: 60px;
}
.admin-links-container .link-text {
  color: #123B2F;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
.button-container .button {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
}
.button-container .button:hover {
  background: #C7EBD1;
  color: #055160;
}

.pagination-user {
  display: flex;
  justify-content: center;
}
.pagination-user .pagination-user-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  list-style-type: none;
}
.pagination-user .pagination-user-item .page-item .page-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border-color: transparent;
  color: #667085;
  text-align: center;
  /* Text sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.pagination-user .pagination-user-item .page-item.active .page-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border-color: transparent;
  background: #FFE8E8;
  color: #7F56D9;
  text-align: center;
  /* Text sm/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.pagination-user .pagination-user-item .page-item-arrow {
  display: flex;
  align-items: center;
  margin-inline-end: 10px;
}
.pagination-user .pagination-user-item .page-item-arrow .page-link {
  color: var(--gray-500, #667085);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border-color: transparent;
}

.modal-content .carousel-inner .carousel-item {
  padding: 0 40px;
}
.modal-content .carousel-inner .carousel-item .form-group {
  display: flex;
  margin-bottom: 0.69em;
  justify-content: center;
}
.modal-content .carousel-inner .carousel-item .form-group .control-label {
  min-width: 160px;
}
.modal-content .carousel-inner .carousel-control-prev {
  display: flex;
  justify-content: flex-start;
}
.modal-content .carousel-inner .carousel-control-prev .carousel-control-prev-icon {
  background-color: #C7EBD1;
}
.modal-content .carousel-inner .carousel-control-next {
  display: flex;
  justify-content: flex-end;
}
.modal-content .carousel-inner .carousel-control-next .carousel-control-next-icon {
  background-color: #C7EBD1;
}
.modal-content .carousel-inner .button {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
  margin: auto;
}
.modal-content .carousel-inner .button:hover {
  background: #C7EBD1;
  color: #055160;
}

.treatment-list .treatment-heading-container {
  width: 659px;
}
.treatment-list .treatment-heading-container .treatment-list-heading {
  color: #141414;
  font-family: Playfair Display;
  font-size: 45px;
  font-weight: 700;
}
.treatment-list .treatment-heading-container .treatment-list-subheading {
  color: #5C8692;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  text-transform: uppercase;
}
.treatment-list .treatment-item .name-and-price {
  color: #141414;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 28.6px */
}
.treatment-list .treatment-item .text {
  color: #555;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 29.7px */
  letter-spacing: 0.36px;
}
.treatment-list .treatment-item .filler {
  margin-bottom: 10px;
  border-bottom: 1px dashed black;
}
.treatment-list hr {
  height: 1px;
  opacity: 0.5;
  background: #9BB7BF;
  margin: 18px 0;
  margin-right: calc(var(--bs-gutter-x) * 0.5);
  margin-left: calc(var(--bs-gutter-x) * 0.5);
}
.treatment-list .treatment-left-image {
  position: relative;
}
.treatment-list .treatment-left-image .background {
  width: 100%;
  position: relative;
  z-index: 10;
  filter: drop-shadow(1px 0px 6px #999);
}
.treatment-list .treatment-left-image .background-rectangle {
  position: absolute;
  bottom: -90px;
  right: -90px;
  width: 180px;
  height: 180px;
  background-image: url(/FrontImages/square.jpg);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.fancy-button {
  display: flex;
  padding: 25px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: unset;
  color: #141414;
  text-align: center;
  font-family: Manrope;
  font-weight: 800;
  text-transform: uppercase;
  border: 2px solid #5C8692;
  transition: all 0.3s;
  width: fit-content;
}
.fancy-button:hover {
  background-color: #5C8692;
  color: white;
}

.employee-stats .doughnut-chart-container {
  position: relative;
}
.employee-stats .doughnut-chart-container .text-abs {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
}
.employee-stats .doughnut-chart-container .text-abs .score {
  color: #667085;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.employee-stats .doughnut-chart-container .text-abs .text-score {
  color: #101828;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 125% */
  letter-spacing: -0.96px;
}
.employee-stats .polar-chart-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.employee-stats .line-chart-container .group-buttons-container {
  display: flex;
  gap: 16px;
  align-items: center;
}
.employee-stats .line-chart-container .group-buttons-container .buttons {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.employee-stats .line-chart-container .group-buttons-container .buttons .buttonTime {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  text-decoration: unset;
  gap: 8px;
  border-right: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
  color: var(--gray-700, #344054);
  font-family: Inter;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  transition: all 0.3s;
}
.employee-stats .line-chart-container .group-buttons-container .buttons .buttonTime.active {
  background: var(--Primary-C, #FFF2F2);
}
.employee-stats .line-chart-container .group-buttons-container .buttons .buttonType {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  text-decoration: unset;
  gap: 8px;
  border-right: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
  color: var(--gray-700, #344054);
  font-family: Inter;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  transition: all 0.3s;
}
.employee-stats .line-chart-container .group-buttons-container .buttons .buttonType.active {
  background: var(--Primary-C, #FFF2F2);
}

body.page-Login {
  background-image: url("/FrontImages/Register_Eye.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body.page-Login header {
  background-image: unset !important;
  min-height: 126px;
}
body.page-Login main {
  min-height: 570px;
  margin-bottom: 137px;
}
body.page-Register {
  background-image: url("/FrontImages/Register_Eye.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body.page-Register header {
  background-image: unset !important;
  min-height: 126px;
}
body.page-Register main {
  min-height: 570px;
  margin-bottom: 137px;
}

.auth-card {
  padding: 25px 60px;
  border-radius: 20px;
  background: rgba(255, 242, 242, 0.89);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 740px;
}
.auth-card .auth-full-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-card .auth-full-header .auth-heading {
  color: #000;
  text-align: center;
  font-family: Montagu Slab;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 125% */
}
.auth-card .auth-full-header .auth-caption {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 31.5px; /* 196.875% */
}
.auth-card .auth-inputs {
  padding-left: 16px;
}
.auth-card .auth-inputs .row {
  position: relative;
}
.auth-card .auth-inputs .row .auth-input-icon {
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translate(0, -50%);
}
.auth-card .auth-inputs .row .auth-input {
  border-radius: 6px;
  border: 1px solid #6D758F;
  background: #FFF;
  box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
}
.auth-card .auth-button {
  display: flex;
  justify-content: center;
}
.auth-card .auth-button .button {
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
}
.auth-card .auth-button .button:hover {
  background: #C7EBD1;
}
.auth-card .checkbox .form-check-input:checked {
  background-color: #055160;
}
.auth-card .auth-reminders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.auth-card .auth-reminders .auth-reminder {
  color: #9E7777;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  text-decoration: none;
}

body.page-Login .auth-card {
  max-width: 600px !important;
}

.main-site-container .text-we-are-container {
  display: flex;
  width: 653px;
  height: 323px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: auto;
}
.main-site-container .text-we-are-container .text-we-are {
  color: #000;
  text-align: center;
  font-family: "Montagu Slab", serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 125% */
  text-decoration: none;
}
.main-site-container .employee-of-the-month .text-employee-month-container {
  display: flex;
  width: 403px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: auto;
}
.main-site-container .employee-of-the-month .text-employee-month-container .text-employee-month {
  color: #9E7777;
  text-align: center;
  font-family: Montagu Slab;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px; /* 125% */
  text-decoration: none;
}
.main-site-container .employee-container .employee-info-container .position-text-container {
  display: flex;
  width: 304px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.main-site-container .employee-container .employee-info-container .position-text-container .position-text {
  color: var(--Secondary, #679E76);
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%; /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}
.main-site-container .employee-container .employee-info-container .name-text-container .name-text {
  color: #141414;
  font-family: Playfair Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 58.5px */
  letter-spacing: -0.45px;
  text-decoration: none;
}
.main-site-container .employee-container .employee-info-container .motto-container .motto-text {
  color: #555;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  text-decoration: none;
}
.main-site-container .employee-container .employee-info-container .rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.main-site-container .employee-container .employee-info-container .rating-container .rating-text .rating {
  color: #141414;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 28.6px */
  letter-spacing: -0.22px;
  text-decoration: none;
}
.main-site-container .employee-container .employee-info-container .socialmedia-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.main-site-container .employee-container .employee-info-container .socialmedia-container .socialmedia-button {
  border: 2px solid var(--Secondary, #679E76);
  width: 65px;
  height: 65px;
  flex-shrink: 0;
  background-color: transparent;
}
.main-site-container .employee-container .employee-info-container .socialmedia-container .socialmedia-button .socialmedia {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  margin: auto;
}
.main-site-container .employee-container .employee-info-container .socialmedia-container .socialmedia-name-text .socialmedia-name {
  color: #141414;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 28.6px */
  letter-spacing: -0.22px;
  text-decoration: none;
}
.main-site-container .employee-container .employee-info-container .socialmedia-icons-container {
  display: flex;
  gap: 20px;
}
.main-site-container .employee-container .employee-info-container .socialmedia-icons-container .icon {
  text-decoration: none;
}
.main-site-container .our-treatments-container .our-treaments {
  display: flex;
  width: 287px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin: auto;
}
.main-site-container .our-treatments-container .our-treaments .our-treatments-text {
  color: #000;
  text-align: center;
  font-family: Montagu Slab;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 125% */
  text-decoration: none;
}
.main-site-container .carousel-container .carousel {
  display: flex;
  width: 806px;
  height: 412px;
  padding: 16px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin: auto;
}
.main-site-container .owner-container {
  background-color: #FFE8E8;
}
.main-site-container .owner-container .owner-img {
  margin-top: -15px;
  margin-bottom: -15px;
  padding-left: 0;
}
.main-site-container .owner-container .owner-text-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.main-site-container .owner-container .owner-text-container .name-container .name-text {
  color: #000;
  text-align: center;
  font-family: Montagu Slab;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 125% */
  text-decoration: none;
}
.main-site-container .owner-container .owner-text-container .position-container .position-text {
  color: #000;
  text-align: center;
  font-family: Montagu Slab;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 100% */
  text-decoration: none;
}
.main-site-container .owner-container .owner-text-container .description-container {
  display: flex;
  width: 502px;
  height: 168px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.main-site-container .owner-container .owner-text-container .description-container .description-text {
  color: #000;
  text-align: center;
  font-family: Montagu Slab;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  text-decoration: none;
}
.main-site-container .owner-container .owner-text-container .button-container {
  display: flex;
  width: 264px;
  height: 49px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  margin: 0 auto;
}
.main-site-container .owner-container .owner-text-container .button-container .button-meetus {
  border: 1px solid #679E76;
  background: var(--Secondary-E, #C7EBD1);
  height: 50px;
  color: var(--cyan-800, #055160);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 20px */
  letter-spacing: 1.92px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-site-container .meetourexpert-container .meetourexpert-text {
  color: #679E76;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%; /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}
.main-site-container .our-employees-container {
  width: 659px;
  margin: auto;
}
.main-site-container .our-employees-container .our-employees-text {
  color: #141414;
  text-align: center;
  font-family: Playfair Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 58.5px */
  letter-spacing: -0.45px;
  text-decoration: none;
}
.main-site-container .employees-container .one-employee-container {
  overflow: hidden;
}
.main-site-container .employees-container .one-employee-container .one-employee-img {
  background-position: center;
  min-height: 350px;
  min-width: 100%;
}
.main-site-container .employees-container .one-employee-container .name-employee-container {
  width: 315px;
  margin: auto;
}
.main-site-container .employees-container .one-employee-container .name-employee-container .name-text {
  color: #141414;
  text-align: center;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  text-decoration: none;
}
.main-site-container .employees-container .one-employee-container .position-container {
  margin: auto;
}
.main-site-container .employees-container .one-employee-container .position-container .position-text {
  color: #679E76;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%; /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}
.main-site-container .employees-container .one-employee-container .motto-container {
  width: 336px;
  margin: auto;
}
.main-site-container .employees-container .one-employee-container .motto-container .motto-text {
  color: #555;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  text-decoration: none;
}
.main-site-container .employees-container .one-employee-container .socialmedia-icons-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.main-site-container .employees-container .one-employee-container .socialmedia-icons-container .icon {
  text-decoration: none;
}

.single-treament-container .treatment-picture {
  width: 718px;
  height: 620px;
  flex-shrink: 0;
}
.single-treament-container .treatment-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.single-treament-container .treatment-info .treatment-name-container .treatment-name {
  color: #FFF;
  text-align: center;
  font-family: Playfair Display;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 115.2px */
  letter-spacing: -0.96px;
  text-decoration: none;
}
.single-treament-container .treatment-info .treatment-description-container .treatment-description-text {
  color: #FFF;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%; /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}
.single-treament-container .treatment-info .button-container {
  width: 264px;
  height: 49px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.single-treament-container .treatment-info .button-container .button-makeappo {
  border: 2px solid #FFE8E8;
  background: #FFE8E8;
  color: #141414;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  height: 50px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.treatment-info-view .treatment-name-container .treatment-name {
  color: #5C8692;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%; /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}
.treatment-info-view .treament-motto-container {
  width: 659px;
  margin: auto;
}
.treatment-info-view .treament-motto-container .treament-motto {
  color: #141414;
  text-align: center;
  font-family: Playfair Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 58.5px */
  letter-spacing: -0.45px;
  text-decoration: none;
}
.treatment-info-view .treatment-container {
  background-color: #FFF2F2;
}
.treatment-info-view .treatment-container .treatment-img-left {
  margin-top: -15px;
  margin-bottom: -15px;
  padding-left: 0;
  background-position: top;
  background-size: cover;
}
.treatment-info-view .treatment-container .treatment-img-right {
  margin-top: -15px;
  margin-bottom: -15px;
  padding-right: 0;
  background-position: top;
  background-size: cover;
}
.treatment-info-view .treatment-container .treatment-info .what-includes-container .what-includes-text {
  color: #7A9CA5;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%; /* 23.175px */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
}
.treatment-info-view .treatment-container .treatment-info .name-of-treatment-container .name-of-treatment-text {
  color: #141414;
  font-family: Playfair Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 58.5px */
  letter-spacing: -0.45px;
  text-decoration: none;
}
.treatment-info-view .treatment-container .treatment-info .treatment-description-container .treatment-description-text {
  color: #555;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 31.5px */
  text-decoration: none;
}
.treatment-info-view .treatment-container .treatment-info .our-methodology-container .our-methodology-text {
  color: #141414;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 28.6px */
  letter-spacing: -0.22px;
  text-decoration: none;
}
.treatment-info-view .treatment-container .treatment-info .methodology-container .methodology-small-container .methodology-title-container .methodology-title-text {
  color: #141414;
  font-family: Manrope;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%; /* 38px */
  text-decoration: none;
}
.treatment-info-view .treatment-container .treatment-info .methodology-container .methodology-small-container .methodology-description-container .methodology-description-text {
  color: #555;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 31.5px */
  text-decoration: none;
}

.edit-form {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.edit-form .form-elements {
  margin: auto;
  align-items: center;
}
.edit-form .form-elements .form-input {
  border-radius: 8px;
  border: 1px solid var(--gray-300, #D0D5DD);
  background: var(--White, #FFF);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 10px 14px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.edit-form .buttons .button {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
  margin: auto;
  justify-content: center;
}
.edit-form .buttons .button:hover {
  background: #C7EBD1;
  color: #055160;
}

.treatment-selects {
  display: flex;
  justify-content: center;
}
.treatment-selects .tretment-select .select-label {
  color: #574646;
  font-family: Inria Serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
}
.treatment-selects .tretment-select .tretment-select {
  display: flex;
  width: 273px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  color: var(--gray-500, #667085);
  /* Text md/Regular */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-radius: 8px;
  border: 1px solid var(--Primary-A, #9E7777);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.newButton {
  padding: 16px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: #C7EBD1;
  color: #055160;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%; /* 17.5px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: 0;
  text-decoration: none;
}
.newButton:hover {
  background: #C7EBD1;
}
.newButton:hover {
  background: #C7EBD1;
}

.calendar-box {
  margin: 20px 16px 0;
}
.calendar-box .fc-button {
  border: 1px solid #dee2e6;
  background-color: #eb6864;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.calendar-box .fc-button:hover {
  background-color: #bc5350;
  border: 1px solid #b04e4b;
}
.calendar-box .fc-button-active {
  background-color: #bc5350 !important;
  border: 1px solid #b04e4b !important;
}
.calendar-box .fc-today-button:disabled {
  border: 1px solid #dee2e6;
  background-color: #eb6864;
  opacity: 0.65;
}
.calendar-box .fc-col-header-cell-cushion {
  text-decoration: none;
  color: inherit;
}
.calendar-box .fc-list-day-text {
  color: #eb6864;
}
.calendar-box .fc-list-day-text:hover {
  color: #bc5350;
}
.calendar-box .fc-list-day-side-text {
  color: #eb6864;
}
.calendar-box .fc-list-day-side-text:hover {
  color: #bc5350;
}
